@using Umbraco.Web;
@using Umbraco.Extensions.Models.Custom;
@using Umbraco.Extensions.Utilities;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var image = Model.Content.GetCroppedImage("image", 300, 300);
}

<h1>@(Model.Content.GetPropertyValue<string>("title"))</h1>
<p>@(Model.Content.GetPropertyValue<HtmlString>("bodyText"))</p>

@if(image.HasValue)
{
    <p><img src="@image.Crop" alt="@image.Alt" data-track="@image.TrackLabel" /></p>
}