@using Umbraco.Web;
@using Umbraco.Extensions.Utilities;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    //for slimmage to adjust quality based on pixel ratio, quality querystring must be present
    var gallery = Model.Content.GetCroppedImages("gallery", 400, null, quality:90, cropAlias:"gallery", slimmage:true);
}

<h1>@(Model.Content.GetPropertyValue<string>("title"))</h1>
@(Model.Content.GetPropertyValue<HtmlString>("bodyText"))

@*Gallery*@
@if (gallery.Any())
{
    <div class="gallery">
        <ul>
            @foreach (var photo in gallery)
            {
                <li>
                    <a href="@photo.Url" data-track="@photo.TrackLabel">
                        <img class="gallery-image" src="@photo.Crop" alt="@photo.Alt" />
                    </a>
                </li>
            }
        </ul>
    </div>
}