@using Umbraco.Extensions.Models
@using Umbraco.Extensions.Models.Custom
@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SitemapModel>
@{
    Layout = "Master.cshtml";
}

<h1>@(Model.Content.GetPropertyValue<string>("title"))</h1>
@(Model.Content.GetPropertyValue<HtmlString>("bodyText"))

@*Show the sitemap items recursively*@
@ShowSitemap(Model.SitemapItems)

@helper ShowSitemap(IEnumerable<SitemapItem> sitemapItems)
{
    if(sitemapItems.Any())
    {
        <ul>
            @foreach (var sitemapItem in sitemapItems)
            {
                <li>
                    <a href="@sitemapItem.Url">@sitemapItem.Name</a>
                    @ShowSitemap(sitemapItem.Children)
                </li>
            }
        </ul>
    }
}